{% extends "base.html" %}

{% block title %}
ГЛАВНАЯ СТРАНИЦА
{% endblock %}

{% block body %}
<h1>СЛАВА УКРАЇНІ!</h1>
<
<li>Lorem ipsum dolor sit amet.</li>
<li>Adipisci eos expedita nulla quis.</li>
<li>Deleniti eum exercitationem libero velit?</li>
<li>Aliquam, impedit, modi. Illo, laboriosam.</li>
<li>A amet dolor impedit perspiciatis?</li>
<li>Cum delectus ex illo sit?</li>
<li>Consequatur, quos voluptatum! Esse, voluptates!</li>
<li>Beatae nostrum officiis quidem saepe!</li>
<li>Accusantium deleniti illo nam reprehenderit.</li>
<li>Deserunt id incidunt iusto quibusdam!</li>
<li>Architecto explicabo harum laborum reiciendis.</li>
<li>At aut earum quibusdam repellendus.</li>
<li>Animi eum maxime neque quo.</li>
<li>Architecto aspernatur delectus ea illum.</li>
<li>Ad asperiores doloremque nisi provident?</li>
<li>Amet beatae ea nam voluptates!</li>
<li>Accusamus eius esse inventore similique.</li>
<li>Dignissimos doloribus non odit quis!</li>
<li>Accusantium dolore dolorum id nulla!</li>
<li>Modi nihil officiis placeat quis.</li>
<li>Ab natus non optio reprehenderit.</li>
<li>Adipisci consectetur modi provident quis?</li>
<li>Cumque deleniti magnam vel voluptas!</li>
<li>Distinctio obcaecati quibusdam soluta voluptatum.</li>
<li>Commodi eum nobis sint voluptate!</li>
<li>Adipisci asperiores dolor pariatur possimus!</li>
<li>Autem molestias porro quo vitae.</li>
<li>Minus obcaecati officia sit temporibus.</li>
<li>Consequatur harum odio officiis repudiandae?</li>
<li>Dolore doloribus reiciendis temporibus veritatis!</li>
<li>Dolor nulla pariatur quis rerum.</li>
<li>Accusantium corporis ipsum placeat voluptatem?</li>
<li>Ab iusto laborum perferendis quas!</li>
<li>Aut facilis fugiat iste quia.</li>
<li>Architecto dolorum molestiae officia quibusdam?</li>
<li>Ab cupiditate magnam molestias quod?</li>
<li>Incidunt neque nostrum quasi voluptates?</li>
<li>Amet beatae et ipsa laborum.</li>
<li>Ad dignissimos nesciunt voluptate voluptatum.</li>
<li>Nesciunt nostrum quibusdam ut veritatis?</li>
<li>Cupiditate nobis rerum voluptatibus? Perspiciatis.</li>
<li>Animi consectetur cumque ipsam molestiae.</li>
<li>Explicabo molestiae nam quas quisquam!</li>
<li>A consequatur molestias praesentium rem?</li>
<li>Eius excepturi odio porro tempore.</li>
<li>Facere quisquam tenetur vel vitae!</li>
<li>Aperiam asperiores facere laborum quod.</li>
<li>Distinctio enim eos nemo unde.</li>
<li>Accusamus id laboriosam similique voluptatem!</li>
<li>Corporis magnam placeat temporibus voluptas.</li>
<li>Animi cumque error id veritatis.</li>
<li>Autem harum magnam mollitia nihil!</li>
<li>Ea eius fugit nam quod.</li>
<li>Dolorem pariatur recusandae totam velit.</li>
<li>Iste modi nesciunt odio perspiciatis!</li>
<li>Ipsa non numquam odit repudiandae.</li>
<li>Dolorem magni maiores pariatur rem?</li>
<li>Accusantium dolore eius error voluptas?</li>
<li>Delectus quas quod unde voluptatum?</li>
<li>Asperiores aut fugiat natus quae.</li>
<li>Esse facilis illum in unde.</li>
<li>Adipisci aut dolorum perspiciatis quia!</li>
<li>Consequatur in ipsum obcaecati ratione?</li>
<li>A ad eius laboriosam unde!</li>
<li>Architecto esse ex harum sapiente?</li>
<li>Aperiam atque beatae enim sit.</li>
<li>Asperiores esse non saepe sunt?</li>
<li>A culpa dolorem fugit magni.</li>
<li>Dicta ipsa officiis porro repellendus!</li>
<li>Aut esse qui quos ut!</li>
{% endblock %}

